#p1, #p2{
    color: red;
}

p{
    color: green;
}

.pfont{
    font-size: 35px;
    color: coral;
}

.pblue{
    color:blue;
}


/*  */

div p{
    color: chocolate;
}

.iddiv .pdiv{
color: black;
}

.iddiv > .pdiv{
    color: aquamarine;
}